.wy-table-responsive table.longtable {
    overflow-x: auto !important;  /* Enable horizontal scrolling */
    display: block;
}
.wy-table-responsive {
    overflow-x: auto !important;  /* Apply scrolling to the container */
}




